.problems-page {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 2.5vw, 3rem);
    padding: clamp(1rem, 1.5vw, 2rem);
}

.problems-filter {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    width: 240px;
}

.select-difficulty {
    cursor: pointer;
    padding: 0.75rem 1rem;
}