.input-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-field,
select,
textarea {
    font-size: 1.1rem;
    padding: 0.8rem 1.2rem;
    border: 2px solid gray;
    outline: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.input-field:focus,
select:focus,
textarea:focus {
    border: 2px solid white;
    outline: 4px solid var(--low-blue);
    border: 2px solid var(--dark-blue);
}

.input-error-span {
    color: red;
    font-size: 0.8rem;
}